.sidebar {
    background-color: #222437;
}

.sidebar .nav {
    overflow: hidden;
    flex-wrap: nowrap;
    flex-direction: column;
}

.sidebar .nav-link {
    display: flex;
    padding: 15px 30px;
}

.sidebar .nav-link:hover {
    color: black;
    background-color: white;
}

.sidebar .menu-arrow {
    color: rgb(177, 177, 177);
}
