@import 'header.scss';
@import 'footer.scss';
@import 'sidebar.scss';
@import 'menu.scss';
@import 'nav.scss';

* {
    /* Resetting of margin and padding on all elements */
    margin: 0;
    padding: 0;

    /* everything as border-box */
    box-sizing: border-box;

    /* global transition */
    transition-duration: 0.145s;
}

html, body, #app {
    height: 100%;
}

body {
    /* Font setting */
    font-family: 'roboto', sans-serif;
    line-height: 1.5;
    font-weight: 400;

    /* Default page colors */
    background-color: #1c1e2f;
    color: white;
}

/* Global application wrapper */
#app {
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    grid-template-rows: 0.1fr 1fr 0.1fr;
    grid-template-areas:
        'header header'
        'sidebar main'
        'sidebar footer';
    height: 100vh;
}

/* Header */
.header {
    grid-area: header;
}

/* Sidebar */
.sidebar {
    grid-area: sidebar;
}

/* Footer */
.footer {
    grid-area: footer;
}

/* Main */
.main {
    grid-area: main;
}