<nav class="sidebar">
    <h2>Sidebar</h2>
</nav>

<main class="col">
    <div>
        <h1>
            Hey, {{currentUser.user.name}}
        </h1>

        <img class="d-block" src={{currentUser.user.avatar}} alt="Profile picture">

        {{!-- Logging out --}}
        <button class="btn btn-danger mt-2" {{action 'logout'}}>
            Logout
        </button>
    </div>

    {{outlet}}
</main>