{{!-- Header --}}
<header class="header">
    <h2>Legacy RP - CAD</h2>
</header>

{{!-- Sidebar --}}
<nav class="sidebar">
    {{!-- Navigation in sidebar --}}
    <ul class="nav">
        {{! -- Main menu navigation --}}
        <li class="nav-item nav-category">
            Main menu
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">
                <span class="menu-title">
                    Nav link 1
                </span>
                <i class="menu-arrow fas fa-arrow-right"></i>
            </a>
        </li>
    </ul>
</nav>

{{!-- Main content --}}
<main class="main">

</main>

{{!-- Footer --}}
<footer class="footer">
    Footer
</footer>

