{{!-- Content side --}}
<div class="col d-flex align-items-center p-5">
    <div>
        <h1>Login with your Steam account.</h1>
        <p>
            Authenticate with the CAD using the same Steam profile that you're using to play on Legacy Roleplay. The databases are connected, so 
            we'll seemlessly be able to grab your information from the server.
        </p>

        {{!-- Login button --}}
        <a class="btn btn-primary" href="http://127.0.0.1:8000/auth/login/steam">
            <i class="fab fa-steam"></i>
            Login with steam now
        </a>
    </div>
</div>

{{!-- Background side --}}
<div class="col bg bg-login"></div>