{{!-- Sidebar --}}
<nav class="sidebar">
    {{!-- Header inside the sidebar --}}
    <div class="sidebar-header">
        <h3>L-RP | CAD</h3>
    </div>

    {{!-- Navigation --}}
    <ul class="list-unstyled components">
        <li>
            <a href="#">Dashboard</a>
        </li>
        <li>
            <a href="#">Something else</a>
        </li>
    </ul>
</nav>

{{!-- Page Content --}}
<main class="content">
    {{!-- Navigation bar --}}
    <nav class="navbar">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a href="#">Mr. Richardsen</a>
            </li>
        </ul>
    </nav>
</main>